<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="refresh" content="5">
    <meta charset="UTF-8">
    <title>Pies Doggo - wierny kumpel</title>
    <link href="img/ico.png" rel="icon">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="background-container" th:object="${dog}">
    <div id="main-container">
        <div id="top-panel">
            <div id="right-box">
                <div id="lvl-value" th:text="*{getLvlValue()}"></div>
            </div>
            <div id="mid-box">
                <div id="exp-value">
                    <span th:text="*{getExpValue()}"></span><br>
                    <div id="hr-wrapper">
                        <hr th:width="*{getExpValue()*3}+'px'">
                    </div>
                </div>
                <script type="text/javascript">
                    let time;
                    if (document.getElementById('info-p').textContent === 'Posprzątane!'){
                        time = 3000;
                        console.log("elo")
                    } else {
                        time = 1000;
                        console.log("hej")
                    }
                    setTimeout(function () {
                        document.getElementById('info-p').innerHTML = ' ';
                    }, time);
                </script>
                <div id="info">
                    <p id="info-p" th:text="*{getDogInfo()}"></p>
                </div>
            </div>
            <div id="left-box">
                <form action="/reset" method="post">
                    <button id="reset" type="submit">
                        <img src="img/reset.png" width="30px" height="30px">
                    </button>
                </form>
            </div>
        </div>
        <div id="mid-panel">
            <img id="sofa" src="img/sofa.png" alt="sofa">
            <img id="dog" th:src="'img/dog'+*{getLvlValue()}+'.png'" alt="dog">
        </div>
        <div id="bot-panel">
            <div id="button-panel">
                <form action="/upExpValue" method="post">
                    <input id="eat" type="submit" value="Nakarm">
                </form>
                <form action="/doCleanUp" method="post">
                    <input id="clean" type="submit" value="Posprzątaj">
                </form>
                <form action="/doWashDog" method="post">
                    <input id="wash" type="submit" value="Umyj">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>